<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>

        <h1 class="title is-2">Edit List</h1>

        <form action="/lists/<%= list.id %>/update" method="post">
            <div class="field">
                <div class="control">
                    <label class="label">List title:</label>
                    <input value="<%= list.title %>" type="text" class="input" name="title" placeholder="Enter list title">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <label class="label">List description:</label>
                    <textarea rows="4" class="input" name="description" placeholder="Enter short list description"><%= list.description %></textarea>
                </div>
            </div>
            <div class="control" style="padding-bottom: 25px">
                <label class="label">Make List Private or Keep Public?</label>
                <label class="radio">
                    <input type="radio" name="private" value="true" <%=list.private ? 'checked' : '' %>>
                    Private
                </label>
                <label class="radio">
                    <input type="radio" name="private" value="false" <%=list.private ? '' : 'checked' %>>
                    Public
                </label>
            </div>
            <div style="display:inline">
                <button type="submit" class="button is-link">Save Changes</button>
                <a class="button is-danger" href="/lists/<%=list.id %>"><i style="padding-right: 5px" class="fas fa-ban"></i>
                    Cancel</a>
            </div>
        </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>