<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <h1 class="title is-2">
            <%= list.title %>
        </h1>
        <p class="subtitle is-4">
            <%= list.description %>
        </p>
        <p class="subtitle is-6"><em> Submitted by:
                <%= list.User.username %>
            </em></p>
        <% if(currentUser && currentUser.id === list.userId) { %>
        <a href="/lists/<%= list.id %>/edit" class="button is-warning"><i class="fas fa-edit" style="padding-right: 5px"></i>Edit</a>
        <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="post">
            <button type="submit" class="button is-danger"><i class="fas fa-trash" style="padding-right: 5px"></i>Delete</button>
        </form>
        <% } %>
        <div style="margin-top: 10px;">
            <a class="button is-dark" onclick="history.back()"><i class="fas fa-arrow-left"></i> Go back</a>
        </div>
        <hr>
        <div class="control">
            <form action="/lists/<%= list.id %>/items/create" method="post">
                <input type="text" class="input" name="name" placeholder="e.g., Chocolate chip cookies..." required />
                <button type="submit" class="button is-info"><i class="fas fa-plus" style="padding-right: 5px"></i>Add
                    Item</button>
            </form>
        </div>
        <hr>

        <h1 class="title is-2">List Items</h1>
        <div class="container">
            <em>(total items:
                <%= list.items.length %>)</em>
            <nav class="level">
                <% if (list.items.length === 0) { %>
                <h5 class="subtitle is-5">
                    <em>No items yet. Try adding one!</em>
                </h5>
                <% } else { %>
                <ul class="list">
                    <% list.items.forEach((item) => { %>
                    <li class="list-item" style=<%=item.completed ? "text-decoration:line-through;" : "" %>>
                        <%= item.name %>

                        <form style="
                        display:initial; padding-left:30px;" action="/lists/<%=item.listId %>/items/<%=item.id %>/destroy"
                            method="post">
                            <button type="submit" style="float:right"><i class="fas fa-trash"></i>
                                Delete</button>
                        </form>

                        <form style="display:initial" action="/lists/<%=item.listId %>/items/<%=item.id %>/edit">
                            <button type="submit" style="float:right"><i class="fas fa-edit"></i> Edit</button>
                        </form>

                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </nav>
        </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

</body>

</html>